/*===== HOME =====*/
.home {
    height: calc(100vh - 3rem);
    row-gap: 1rem;
  }
  .home-data {
    align-self: center;
  }
  .home-title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
  }
  .home-subtitle {
      font-size: var(--h2-font-size);
      margin-bottom: var(--mb-5);
    }
  .home-title-color {
    color: var(--first-color);
  }
  .home-social {
    display: flex;
    flex-direction: column;
  }
  .home-social-icon {
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--third-color);
  }
  .home-social-icon:hover,
  .footer-icon:hover {
    color: var(--first-color);
  }
  .home-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 45%;
  }
  
 

#jobTitle{
    animation: blinker 6s linear infinite;
    font-family: 'Press Start 2P', sans-serif;
    color: #bd4f4f;
  }
  
  @keyframes blinker {
    70%{
      opacity: .4;
    }
  }


  @media screen and (min-width: 768px) {
  
    .home {
      height: 100vh;
    }
    .home-data {
      align-self: flex-end;
    }
    .home-social {
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home-social-icon {
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home-img {
      width: 30%;
      max-width: 420px;
      bottom: 15%;
    }
  
  }