/* ===== FOOTER =====*/
.footer {
    background-color: var(--second-color);
    color: var(--third-color);
    text-align: center;
    font-weight: var(--font-semi);
    padding: 3.5rem 0;
    margin-top: 8vh;
  }
  .footer-title {
    font-size: 2rem;
    margin-bottom: var(--mb-4);
  }
  .footer-social {
    margin-bottom: var(--mb-4);
  }
  .footer-icon {
    font-size: 2rem;
    color: var(--third-color);
    margin: 0 var(--mb-2);
  }
  

  @media screen and (min-width: 768px) {
    
    .contact-form {
        width: 360px;
      }
      .contact-container {
        justify-items: center;
      }

      
  }